<%
  commentable_type = commentable.class.name.underscore.gsub("/", "_")
  frame_id = dom_id(commentable, :comment_form)
%>

<%= turbo_frame_tag frame_id do %>
  <div class="comment-form">
    <% if current_user %>
      <%= form_with model: Comment.new,
            url: devlog_comments_path(commentable),
            class: "comment-form__form" do |f| %>

        <%= f.text_area :body,
              placeholder: "Write a comment...",
              class: "comment-form__input",
              rows: 2,
              maxlength: Comment::BODY_MAX_LENGTH %>

        <div class="comment-form__actions">
          <%= render ActionButtonComponent.new(
                text: "Post Comment",
                size: :small,
                variant: :primary,
                type: :submit
              ) %>
        </div>
      <% end %>
    <% else %>
      <p class="comment-form__login-prompt">
        Log in to leave a comment
      </p>
    <% end %>
  </div>
<% end %>
