<button type="button"
        class="idv-badge idv-badge--<%= context %> idv-badge--<%= variant %>"
        aria-label="<%= tooltip %>"
        data-controller="tooltip"
        data-tooltip-message-value="<%= tooltip %>"
        data-tooltip-position-value="top"
        onclick="document.getElementById('idv-verify-modal')?.showModal()">
  <span class="idv-badge__icon" aria-hidden="true">!</span>
</button>
