<%= render "notifications/inbox/actor", notification: notification %>
<%= render "notifications/inbox/others_toggle", notification: notification %>
<span class="notifications-item__verb"> liked your devlog</span>
