<%= render "notifications/inbox/actor", notification: notification %>
<span class="notifications-item__verb"> posted</span>
<%= render "notifications/inbox/devlog_link", notification: notification, label: "a devlog" %>
