<span class="notifications-item__verb">Payout issued:</span>
<strong><%= notification.params["stardust"] %> stardust</strong>
<% if notification.params["project_title"].present? %>
  <span class="notifications-item__verb">for</span>
  <% if notification.params["project_id"].present? %>
    <%= link_to notification.params["project_title"], project_path(notification.params["project_id"]), class: "notifications-item__actor" %>
  <% else %>
    <span class="notifications-item__actor"><%= notification.params["project_title"] %></span>
  <% end %>
<% end %>
