<span class="notifications-item__verb">Your ship event payout is on hold —</span>
<span class="notifications-item__verb">cast</span> <strong><%= notification.params["votes_needed"] %> more votes</strong>
<span class="notifications-item__verb">to unlock it</span>
