// inspired by https://support.discord.com/hc/en-us/articles/218485407-Streamer-Mode-101

body.streamer-mode .sensitive {
  filter: blur(8px);
  user-select: none;
  transition: filter 0.2s;

  &:hover {
    filter: blur(0);
    user-select: auto;
  }
}
